/.ipynb_checkpoints
/Drive Link.txt
/Ecommerce_Project - Priyanka Kolhe_copy.ipynb
/Ecommerce_Project_Presentation - Priyanka Kolhe.pptx
/Ecom_report.html
/Presentation_ecommerce.pptx
/project.py
/Repeated Project Feb 14th March 24.pptx
/report.py